[submodule "gas-services"]
	path = gas-services
	url = https://hp_GRGdQh4Zrf2mG1zSzrYDq6zygG7Tww181vcv@github.com/lomasnz/gas-services.git
[submodule "gas-base"]
	path = gas-base
	url = https://hp_GRGdQh4Zrf2mG1zSzrYDq6zygG7Tww181vcv@github.com/lomasnz/gas-base.git
